body,html{
  height: 100%;
  margin: 0;
  text-align: center;
  background-color: #C5D5EA;
}
.header{
position: relative;
background-color:#B4687A;
padding: 0.5%;
}
a{
  text-decoration: none;
  position: absolute;
}
#webname{
  font-family: 'Quicksand', sans-serif;
  font-size: 220%;
  margin-top:0.5%;
  left:4%;
  color:#C5D5EA;
}
.links{
  font-size: 160%;
  font-family: 'Quicksand', sans-serif;
  margin-top: 1%;
  color: #C5D5EA;
}
#hd{
  left:40%;
}
#adopt{
  left:62%;
}
#products{
  left:75%;
}
#contact{
  right: 5%;
}
#paw{
  height: 50%;
  width:2.7%;
  position: relative;
  margin-top:0.5%;
  right:48%;
}
h1{
  font-family: 'Great Vibes', cursive;
  font-size: 350%;
  color: #111D4A;
}
#card{
  height: 60%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  background-color: #B4687A;
}
.fr
{
  opacity: 0.5;
}
.container {
  position: relative;
  text-align: center;
  font-size: 20px;
  color:#050505;
  font-size: 200%;
  color: #111D4A;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img{
  width: 610px;
  height: 400px;
  margin-bottom: 2%;
}
.imgs{
  height: 150px;
  width: 150px;
  margin-bottom: 20%;
}

.imgwrapper1{
  display: inline-block;
  right: 80%;
}
.imgs:hover,.awrapper:hover{
  filter: invert(50%) sepia(13%) saturate(3200%) hue-rotate(130deg) brightness(100%) contrast(80%);
}

.imgwrapper2{
  display: inline-block;
  right: 55%;
}
.imgwrapper3{
  display: inline-block;
  right: 35%;
}
.imgwrapper4{
  display: inline-block;
  position: relative;
  left:33%;
}
.awrapper{
  font-size: 150%;
  color: #111D4A;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
#awrapper1{
  position: relative;
  right: 9%;
}
#awrapper2{
  position: relative;
  right: 14%;
}
#awrapper3{
  position: relative;
  right: 19%;
}
#awrapper4{
  right: 1%
}
#team{
  font-size: 200%;
  text-decoration: underline;
  font-family: 'Quicksand', sans-serif;
}
h2{
    text-align: center;
    color: #111D4A;
    font-family: 'Quicksand', sans-serif;
    font-size: 110%;
  }
  .footer{
    margin-left: 350px;
    margin-right: 350px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    color: #111D4A;
    padding: 1%;
  }
  i{
    color:#111D4A;
  }
  i:hover{
    color:#11AAAA;
  }
.footerr{
  background-color: #B4687A;
}
.a{
  position: relative;
  margin-bottom: 1%;
}
@media (max-width:1028px) {
#webname{
  font-size: 120%;
}
.links{
  font-size: 70%
}
h1{
  font-size: 100%;
}
.imgs{
  height: 70px;
  width: 70px;
}
.awrapper{
  font-size: 70%;
}
}
