@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
  body{
    background-color: #C5D5EA;
    font-family: "Quicksand";
  }
  button{
    background-color:#C5D5EA;
    border: 1px solid #111D4A;
    border-radius: 4%;
    width: 60%;
    height: 15%;
  }
  h2{
    box-shadow: 2px 20px 200px 5px white ;
  }
  li{
    text-align:left;                                  
  }
  .col {
  float: left;
  width: 80%;
  padding: 20px 30px;
  }
  .dis{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #b4687a;
    border-radius: 2%;
    color:#111D4A;
    display: inline-block;
    width:90%;
    font-weight: 600;
    text-emphasis: bold;
  }
  .row {margin: 0 -5px;
    padding-left: 16%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .dis:hover {
    box-shadow: 2px 2px 10px 5px white ;
  }
  button:hover {
    letter-spacing: 6px;
  }
  .container {
    padding: 20px 16px;
    display: inline-block;
  }
  span{
    display: none;
    max-height: 0;
  }
